<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759163437578-tkuqkpl65ks5uts31k0t6kpnfmdv8hti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759163437578-tkuqkpl65ks5uts31k0t6kpnfmdv8hti</string>
	<key>API_KEY</key>
	<string>AIzaSyDd1_bI3VGxR6oyTrcO2HPC6OB7p-5PSDE</string>
	<key>GCM_SENDER_ID</key>
	<string>759163437578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ntq.os6.fishgame</string>
	<key>PROJECT_ID</key>
	<string>your-first-pet-fish</string>
	<key>STORAGE_BUCKET</key>
	<string>your-first-pet-fish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759163437578:ios:a6c73f54827f29cc5255f3</string>
	<key>DATABASE_URL</key>
	<string>https://your-first-pet-fish.firebaseio.com</string>
</dict>
</plist>